
.mainComponent{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  width: 30%;
  height: 500px;
  padding: 10px;
}
.buttonLogin{
  background-color: teal;
  color: white;
  width: 200px
}
