
.parent{
  padding-top: 30px;
}
.child {
  display: inline-block;
  margin: 5px;
  max-width: 250px;
  float: left;
}
.price {
  color:red;
  font-size: large;
  align-content: center;
}

.chip{
  background-color: teal;
  color: white;
  padding:5px;
  border-radius: 20px;
}

.title{
  font-weight: bold;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sideMenu {
  background-color: teal;
  color: white;
  width: 120px;
  height:100%;
  top:1px;
  padding-top: 35px;
}
.sideMenu-content{
  position: fixed;
  color: white;
  background-color: teal;
}
.buttonsAdmin{
  width:30px;
  height:30px;
  padding:0;
  background-color: white;
  border:none;

}
.buttonsAdmin:hover{
  background-color: #80d8d2;
}
.mat-button:hover{
  background-color: #80d8d2;
}
hr {
  display: block;
  border-style: inset;
  border-width: 1px;
}
