
.parent{
  padding-top: 30px;
  padding-right: 130px;
}
.child {
  display: inline-block;
  margin: 5px;
  max-width: 250px;
  float: left;
}
.price {
  color:red;
  font-size: large;
  align-content: center;
}

.chip{
  background-color: teal;
  color: white;
  padding:5px;
  border-radius: 20px;
}

.title{
  font-weight: bold;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sideMenu {
  background-color: teal;
  color: white;
  width: 100px;
  height:100%;
  padding-top: 30px;
  top: 2%;
}
.mat-button:hover{
  background-color: #125688;
}
