<div class="panel">
<mat-drawer-container >
  <mat-drawer mode="side" opened class="sideMenu">
    <div class="sideMenu-content">
    <b> Categories</b>
    <br/>
      <hr>
    <div *ngFor="let productCategory of categories">
    <button mat-button (click)="findProductByCategory(productCategory)">{{productCategory}}</button>
        <hr>
    </div>
    <button mat-button (click)="disableFilter()" *ngIf="isFilterActive" >Reset filter</button>
    </div>
  </mat-drawer>
  <mat-drawer-content style="padding-right: 50px;">
  <div class="parent">
<div *ngFor="let product of products" >
  <mat-card class="child">
    <mat-card-header>
      <mat-card-title class="title" >{{product.productName}}
        <button  (click)="updateProduct(product)" *ngIf="isAdmin" class="buttonsAdmin" matTooltip="Edit"><span class="material-icons">create</span></button>
        <button  (click)="deleteProduct(product)" *ngIf="isAdmin" class="buttonsAdmin" matTooltip="Delete"><span class="material-icons">delete_forever</span></button>
      </mat-card-title>
      <mat-card-subtitle>  <mat-chip-list ><mat-basic-chip class="chip"  (click)="findProductByCategory(product.productCategory)" selected>{{product.productCategory}}</mat-basic-chip></mat-chip-list></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  style="height:200px!important;width:250px!important;" src="{{product.productPhotoLink}}" alt="Photo of the product" (click)="openPopupProduct(product)">
    <mat-card-content>
      <p class="price"> {{product.productPrice}} RON</p>
      <p>
   {{product.productDescription}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addToCart(product)"><span class="material-icons">add_shopping_cart</span>Buy</button>
      <button mat-button (click)="addProductToFav(product)"><span class="material-icons">favorite</span>Favorites</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</mat-drawer-content>
</mat-drawer-container>

</div>


