<div class="header">Hey {{user.surname}}! Fill in only the data you want updated.</div>
<div class="div-content">
<mat-form-field class="example-full-width">
  <mat-label>Address </mat-label>
  <input matInput  [(ngModel)]="user.adress" />
  <mat-icon matSuffix>house</mat-icon>
  <mat-hint>Set here your new address</mat-hint>
</mat-form-field>
<br/>

<mat-form-field class="example-full-width">
  <mat-label>Phone </mat-label>
  <input matInput  style="width: 300px;" [(ngModel)]="user.phoneNumber"/>
  <mat-icon matSuffix>perm_phone_msg</mat-icon>
  <mat-hint>Set here your phone number</mat-hint>
</mat-form-field>
<br/>

<mat-form-field class="example-full-width">
  <mat-label>Email </mat-label>
  <input matInput  [(ngModel)]="user.email"/>
  <mat-icon matSuffix>email</mat-icon>
  <mat-hint>Set here your email address</mat-hint>

</mat-form-field>
<br/>
<button mat-button (click)="updateProfile()" style="margin-top:20px; width:200px">Update</button>
  <br/>
  <div *ngIf="message.length>0" class="alert alert-danger" style="margin-top: 50px">{{message}}</div>
  <br/>
 <div class="header"> Or You can delete your profile here</div>
  <mat-form-field class="example-full-width">
    <mat-label>Reasons (optional)</mat-label>
    <label>
      <textarea matInput rows="5"  style="width:400px;"></textarea>
    </label>
    <mat-hint align="end">Here you can tell us why do you want to delete it.</mat-hint>
  </mat-form-field>
  <button mat-button (click)="deleteProfileMessagePop()" style="margin-top:20px; width:200px">Delete</button>
  <br/>
  <div *ngIf="deleteProfileMessage.length>0" class="alert alert-danger" style="margin-top: 50px">{{deleteProfileMessage}}
  <br/>
    <button mat-button (click)="delete()" >Yes</button>   <button mat-button [mat-dialog-close]="true" style="margin-left: 100px;">No</button>
  </div>
  <br/>

</div>

